<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Project template for <a href="https://gastronomic.online">GastroDev</a>.</p>
    <p class="m-0 text-center text-white ">Copyright &copy; Gastronomic LLC 2020</p>
  </div>
</footer>
