<!-- Navigation -->
<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">GastroDev</h3>
    <nav class="nav nav-masthead justify-content-center">
      <ul class="navbar navbar-dark bg-dark"  style="list-style-type:none">
        <li class="nav-item">
          <p><%= link_to "Home", root_path, :class => "nav-link active" %></p>
        </li>
        <li class="nav-item">
          <p><%= link_to "Profile", pages_profile_url, :class => "nav-link" %></p>
        </li>
        <li class="nav-item">
          <p><%= link_to "Log In", pages_login_url, :class => "nav-link" %></p>
        </li>
      </ul>
    </nav>
  </div>
</header>
